body {
  font-family: 'Roboto', sans-serif;
}

.hero-header {
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: #E5E7EB;
  text-decoration: none;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

img {
  width: 400px; height: 250px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.links {
  font-size: 18px;
}