body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 8px 100px 90px;
  background-color: #1F2937;
}

.header {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

p, .links, a {
  font-size: 18px;
  color: #e5e7eb;
}

.image {
  display: flex;
  justify-content: end;
}

img {
  width: 50%;
  height: auto;
}

button {
  background-color: #3882f6;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
}