body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.hero-header {
  display: flex;
  padding: 0 150px 150px;
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

img {
  width: 400px; height: 250px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}
