body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

img {
  width: 400px; height: 250px;
}

.left, .right {
  display: flex;
  align-items: center;
}