body {
  font-family: 'Roboto', sans-serif;
}

.hero-header {
  display: flex;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  background-color: #1F2937;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

img {
  width: 400px; height: 250px;
}

.left, .right {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}